
body  {
    color: rgb (49,58,69);
    margin: 0px ;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   /* background-color: rgb(255, 255, 255);*/
    background-image: url("background2.png");
    background-size: cover;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 6ch;
    color: rgb(88, 77, 64);
    font-family:monospace;
}

h2 {
    text-align: left;
}
p {
    text-align: left;
}


h1:hover {
    transition: 0.6s ease;
}

ol {
    text-align: left;
    
}

ul {
    text-align: left;
}

img {
    display: left;
    margin: 0em;
    border-radius: 10vw;
    width: 45vw;
    height: 25vw;
}

h3 {
    text-align:center;
}
/*
div {
    display: left;
    width: 20em;
    background-color:lavenderblush ;
}*/
/*
.sidenav {
    height: 100%;
    width: 18em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 234, 211);
    overflow-x: hidden;
    padding-top: 20px;
}
*/

.sidenav {
    width: 60vw;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    text-align: left;
    padding: 3em;
    height: 100%;

}

p::selection {
    background: #ff2600;
    color: #fff;
}
li::selection {
    background: #ff2600;
    color: #fff;
}
h1::selection {
    background: #ff2600;
    color: #fff;
}
h2::selection {
    background: #ff2600;
    color: #fff;
}
strong::selection {
    background: #ff2600;
    color: #fff;
}
a::selection {
    background: #ff2600;
    color: #fff;
}