
body  {
    color: rgb (49,58,69);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1 {
    text-align: left;
    margin-left: 13em;
    text-decoration: underline;
}


p {
    text-align: left;
    margin-left: 26em;
    margin-top: 6em;
}

h1 {
    font-size: 4em;

}

h1 {
    color: rgb(95, 102, 95)

}

h1:hover {
    transition: 0.6s ease;
}

