
body  {
    color: rgb (49,58,69);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px ;
    text-align: center;
   /* background-color: rgb(255, 255, 255);*/
    background-color: rgb(255, 234, 211);
}

h1 {
    text-align: left;
    text-decoration: underline;
    font-size: 4ch;
    color: rgb(167, 114, 53)
}

h2 {
    text-align: left;
}
p {
    text-align: left;
}


h1:hover {
    transition: 0.6s ease;
}

ol {
    text-align: left;
    
}

ul {
    text-align: left;
}

img {
    display: left;
    margin: 0em;
    border-radius: 10vw;
    width: 45vw;
    height: 25vw;
}

h3 {
    text-align:center;
}
/*
div {
    display: left;
    width: 20em;
    background-color:lavenderblush ;
}*/
/*
.sidenav {
    height: 100%;
    width: 18em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 234, 211);
    overflow-x: hidden;
    padding-top: 20px;
}
*/

.sidenav {
    width: 70vw;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    text-align: left;
    padding: 3em;
    height: 100%;

}
